<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <link href="~/Content/css/hr/hr_layout.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/Calendar.js"></script>
    @RenderSection("Header", false)
    <style type="text/css">
        #hr {
            color: #005CB5;
            border-bottom: 3px solid #005CB5;
        }
    </style>
</head>
<body>
    @Html.Partial("Top")
    <div class="container">
        <div class="sidebar">
            <ul class="meun_con">
                <li id="human_base" class="on">
                    <a href="#" class="h_menu">
                        <span class="ico_people"></span>人事档案
                    </a>
                    <a class="nav_sub_btn" hidefocus="hidefocus"><span class="ico_right"></span></a>
                    <div class="nav_sub">
                        <ul>
                            <li>
                                <a href="#">基本信息</a>
                            </li>
                            <li>
                                <a href="#">合同信息</a>
                            </li>
                            <li>
                                <a href="#">家庭成员</a>
                            </li>
                            <li>
                                <a href="#">教育学习</a>
                            </li>
                            <li>
                                <a href="#">培训信息</a>
                            </li>
                            <li>
                                <a href="#">人员奖惩信息</a>
                            </li>
                            <li>
                                <a href="#">人员调动信息</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li id="human_query">
                    <a href="#" class="h_menu">
                        <span class="ico_query"></span>统计查询
                    </a>
                    <a class="nav_sub_btn"><span class="ico_right"></span></a>
                    <div class="nav_sub">
                        <ul>
                            <li>
                                <a href="#">公司员工统计</a>
                            </li>
                            <li>
                                <a href="#">部门编制统计</a>
                            </li>
                            <li>
                                <a href="#">培训记录统计</a>
                            </li>
                            <li>
                                <a href="#">奖惩信息统计</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li id="human_add">
                    <a href="#" class="h_menu">
                        <span class="ico_add"></span>信息维护
                    </a>
                    <a class="nav_sub_btn"><span class="ico_right"></span></a>
                    <div class="nav_sub">
                        <ul>
                            <li>
                                <a href="/HrMaintain/EmpAdd" id="employ_add">员工信息添加</a>
                            </li>
                            <li>
                                <a href="/HrMaintain/EmpContract" id="contract_add">人事合同添加</a>
                            </li>
                            <li>
                                <a href="/HrMaintain/EmpFamily" id="family_add">家庭成员添加</a>
                            </li>
                            <li>
                                <a href="#">教育信息添加</a>
                            </li>
                            <li>
                                <a href="#">工作经历添加</a>
                            </li>
                            <li>
                                <a href="#">奖惩信息添加</a>
                            </li>
                            <li>
                                <a href="#">培训信息</a>
                            </li>
                            <li>
                                <a href="#">调动信息</a>
                            </li>
                            <li class="split_bar"></li>
                            <li>
                                <a href="#">人事通知</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="nav_extra">
                <li>
                    <a href="#">快捷支付</a>
                    <span class="border"></span>
                </li>
                <li><a href="#">安全中心</a></li>
                <li><a href="#">QQ 快 付</a>
                    <span class="border"></span>
                </li>
                <li><a href="#">手机支付</a></li>
            </ul>
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>
    @Html.Partial("Footer")
    <script type="text/javascript">
        $(function () {
            //侧边折叠菜单栏
            var meun_li = $(".meun_con > li");
            meun_li.mouseover(function () { $(this).children(".nav_sub").show(); });
            meun_li.mouseout(function () { $(this).children(".nav_sub").hide(); });
        });
    </script>
</body>
</html>
